/FileTypeRegistry$FileMapping.class
/FileTypeRegistry.class
/ImportExportAllCOMMA.class
/ImportExportAllLITETIE.class
/ImportExportAllTAB.class
/ImportExportCollarPointsCOMMA.class
/ImportExportHolesCOMMA.class
/ImportExportHolesTAB.class
/ImportExportSurfaceTAB.class
/ImportExportToePointsCOMMA.class
/SimpleFileHandler.class
