/BoundaryChangeListener.class
/PatternChangeListener.class
/SimplePatternChangeListener.class
/Changable.class
/ChangeManager.class
/Changeable.class
/ChangeManager$Node.class
/UndoableMoveObject.class
/UndoableCoordinateChange.class
/UndoableRotateBearing.class
/TextChangeListener.class
